#submitBtn {
  border-image-slice: 1;
  border-image-source: repeating-linear-gradient(to right, #1c8a23, #1c8a23 33.33%, #ffffff 33.33%, #ffffff 66.66%, #cc1414 66.66%, #cc1414 100%); }

button {
  outline: none; }

#container {
  width: 60%;
  min-height: 90vh;
  background-color: #111;
  margin: 0 auto;
  padding: 20px 8px 50px 8px;
  box-shadow: 0 0 8px 1px #fff; }
  #container h1 {
    font-size: 2.2em; }

h2 {
  font-family: "Yellowtail", cursive;
  font-size: 1.8em;
  padding: 10px 8px;
  margin: 50px 0 20px 0; }

input {
  display: block;
  margin: 18px auto;
  padding: 8px;
  font-size: 1.4em;
  caret-color: #fff;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 4px 4px #fff;
  background-color: #000; }

#submitBtn {
  background-color: transparent;
  color: #fff;
  font-family: "Yellowtail", cursive;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 22px;
  margin: 20px 0 0 0;
  border-width: 2px;
  border-style: solid;
  transition: all 0.5s ease; }
  #submitBtn:hover {
    border: 2px solid #fff;
    color: #000;
    background: repeating-linear-gradient(to right, #1c8a23, #1c8a23 33.33%, #ffffff 33.33%, #ffffff 66.66%, #cc1414 66.66%, #cc1414 100%);
    padding: 8px 80px; }

#register-container {
  margin: 60px 0 0 0; }
  #register-container h6 {
    font-size: 1em; }

@media screen and (max-width: 420px) {
  #container {
    width: 100%; } }
