
@import 'variables';

a:link {
    text-decoration: none;
}

h3 {
    margin: 20px 0 0 0;
    text-align: left;
    padding: 20px 0;
    background: $bg-opacity;
    font-family: $yellowtail;
}

#container {
    width: 100%;
    margin: 0 auto;
    @extend %border-flag;
    border-radius: 2px;
    border-style: solid;
    background: $bg-opacity;
}

#scroll-indicator {
    display: none;
}

table {
    width: 100%;
    margin: 0;
    table-layout: fixed;
}

thead {
    background-color: rgba(#1c8a23, 0.7);
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 5%;
}

thead th:nth-child(4) {
    width: 7.5%;
}

thead th:nth-child(5) {
    width: 10%;
}

thead th:nth-child(6) {
    width: 7.5%;
}

thead th {
    padding: 14px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.7);
}

tbody tr:nth-child(even) {
    background-color: rgba(70, 70, 70, 0.7);
}

tbody td {
    padding: 30px 14px;
}

tbody td:nth-child(5) {
    text-align: right;
    padding: 30px 22px;
}

tbody td:nth-child(6) {
    font-weight: bold;
    font-size: 1em;
}

th {
    font-family: $yellowtail;
    font-size: 1.2em;
}

td {
    font-size: 0.9em;
}

tfoot {
    background-color: rgba(#1c8a23, 0.7);
}

tfoot th {
    text-align: left;
    font-size: 1.3em;
    padding: 14px 30px;
}

tfoot td:nth-child(2) {
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    padding: 14px 22px;
}

#goToPay {
    padding: 14px 160px;
    margin: 50px 0 10px 0;
    font-size: 1.6em;
    text-shadow: -1px 1px #fff;
    color: #000;
    font-family: $yellowtail;
    background: $flag;
    border: 2px solid #fff;
    cursor: pointer;
    transition-property: padding;
    transition-duration: 0.8s;
    transition-timing-function: ease;

    &:hover {
        padding: 14px 40px;
    }
}

#cart-empty {
    background-color: $bg-opacity;
    padding: 14px;

    h1 {
        margin: 0 0 50px 0;
    }

    a {
        text-decoration: underline;
    }
}

@media screen and (max-width: 800px) {

    #container {
        overflow-x: scroll;
    }

    #scroll-indicator {
        display: block;
        min-width: 900px;
        text-align: left;
        font-size: 1.4em;
        padding: 4px 60px;
        background-color: rgba(#000, 0.5);
        box-shadow: 0 0 4px 4px #fff;
    }

    table {
        min-width: 900px;
    }

    thead th:nth-child(1) {
        width: 30%;
    }
    
    thead th:nth-child(2) {
        width: 30%;
    }
    
    thead th:nth-child(3) {
        width: 7.5%;
    }
    
    thead th:nth-child(4) {
        width: 10%;
    }
    
    thead th:nth-child(5) {
        width: 12.5%;
    }
    
    thead th:nth-child(6) {
        width: 10%;
    }
    
    #goToPay {
        padding: 14px 60px;
    }
}
