
@import 'variables';

#banner-promo {
    width: 80%;
    margin: 0 auto;
    padding: 30vh 30vw;
    background: url(./images/special_pizza.jpg) center/cover no-repeat;
    position: relative;
    box-shadow: 0 8px 14px -4px #fff;
    border-width: 4px;
    border-style: solid;
    @extend %border-flag;
    transition: all 0.5s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 14px -2px #fff;
}
}

#text-container {
    position: absolute;
    bottom: 0px;
    right: 50px;
    text-align: left;
    font-family: $yellowtail;
    font-weight: bold;
    text-shadow: -3px 3px #000;
    background-color: rgba(#000, 0.2);
    padding: 8px 20px 40px 20px;

    p {
        margin: 0;
    }

    p:nth-child(1) {
        font-size: 2.4em;
        margin: 0 0 8px 0;
    }

    p:nth-child(2) {
        font-size: 2em;
    }
}

@media screen and (max-width: 420px) {

    #text-container {
        position: absolute;
        right: 0;
    }
}
