
@import 'variables';

.container {
    width: 100%;
    margin: 0 0 40px 0;
    @extend %border-flag;
    border-radius: 2px;
    border-style: solid;
    background: $bg-opacity;
}

table {
    width: 100%;
    margin: 0;
    table-layout: fixed;
}

.order-header {
    background-color: rgba(#1c8a23, 0.7);

    th {
        padding: 12px 12px;
        text-align: left;
    }

    td {
        padding: 12px 12px;
    }

    *:nth-child(1) {
        width: 30%;
    }
    
    *:nth-child(2) {
        width: 40%;
        text-align: left;

    }
    
    *:nth-child(3) {
        width: 10%;
    }
    
    *:nth-child(4) {
        width: 20%;
    }
}

.items-header {

    background-color: rgba(#1c8a23, 0.7);

    th {
        padding: 14px;
        font-family: $yellowtail;
        font-size: 1.2em;
    }

    th:nth-child(1) {
        width: 30%;
    }

    th:nth-child(2) {
        width: 40%;
    }

    th:nth-child(3) {
        width: 10%;
    }

    th:nth-child(4) {
        width: 10%;
    }

    th:nth-child(5) {
        width: 10%;
    }
}

.order-items {
    
    td {
        padding: 30px 14px;
    }
    
    &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &:nth-child(even) {
        background-color: rgba(70, 70, 70, 0.7);
    }
}

tbody td:nth-child(5) {
    text-align: right;
    padding: 30px 22px;
}

tfoot {
    text-align: right;
    background-color: rgba(#1c8a23, 0.7);

    th {
        padding: 8px 40px;
    }
}

@media screen and (max-width: 800px) {

    .container {
        overflow-x: scroll;
    }

    table {
        min-width: 900px;
    }
}
